<div class="countdown text-center">
  <div class="time-circle">
    <div class="progress"></div>
    <span class="time hours"></span>
    <span class="time-name">hrs</span>
  </div>
  <span class="dots">:</span>
  <div class="time-circle">
    <div class="progress"></div>
    <span class="time minutes"></span>
    <span class="time-name">min</span>
  </div>
  <span class="dots">:</span>
  <div class="time-circle">
    <div class="progress"></div>
    <span class="time seconds"></span>
    <span class="time-name">sec</span>
  </div>
</div>
