<div class="game">
  <div class="timer"><%= render partial: 'count', left_time: @left_time %></div>
  <img src="https://s3.ap-northeast-2.amazonaws.com/codename-seoul/seoul/qr_error.png" width="100%">
</div>
