<div class="game">
  <div class="timer"><%= render partial: 'count', left_time: @left_time %></div>
  <img src="<%= @current_stage.s_img %>" width="100%">
  <%= form_tag '/script', id: 'form', remote: true do %>
  <div class="btnContainer">
    <%= submit_tag 'Next', id: "getBtn2" %>
  </div>
  <% end %>
</div>
