<%= render 'count' %>

<div class="long">
  <form class="text-center">
    <h1>주관식문제</h1>
    <div class="question">
      <input type="text" required/>
      <input type="text" required/>
      <input type="text" required/>
      <input type="text" required/>
    </div>
    <button>확인</button>
  </form>
</div>
