<div id="pincode" class="col-xs-12">
  <div class="table">
    <div class="cell">
      <div id="fields">
        <div class="grid">
          <div class="col-xs-2 col-xs-offset-2 numberfield"><span></span></div>
          <div class="col-xs-2 numberfield"><span></span></div>
          <div class="col-xs-2 numberfield"><span></span></div>
          <div class="col-xs-2 numberfield"><span></span></div>
        </div>
      </div>

      <div id="numbers">
        <div class="grid">
          <div class="col-xs-4"><button>1</button></div>
          <div class="col-xs-4"><button>2</button></div>
          <div class="col-xs-4"><button>3</button></div>

          <div class="col-xs-4"><button>4</button></div>
          <div class="col-xs-4"><button>5</button></div>
          <div class="col-xs-4"><button>6</button></div>

          <div class="col-xs-4"><button>7</button></div>
          <div class="col-xs-4"><button>8</button></div>
          <div class="col-xs-4"><button>9</button></div>

          <div class="col-xs-4"></div>
          <div class="col-xs-4"><button>0</button></div>
          <div class="col-xs-4"></div>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="restartbtn">RESTART</div>
