<div id="pincode" class="col-xs-12">
  <div class="table">
    <div class="cell">
      <div id="fields">
        <div class="grid">
          <div class="col-xs-2 col-xs-offset-2 numberfield"><span></span></div>
          <div class="col-xs-2 numberfield"><span></span></div>
          <div class="col-xs-2 numberfield"><span></span></div>
          <div class="col-xs-2 numberfield"><span></span></div>
        </div>
      </div>

      <div id="numbers">
        <div class="grid">
          <div class="col-xs-4"><button class="num-btn">1</button></div>
          <div class="col-xs-4"><button class="num-btn">2</button></div>
          <div class="col-xs-4"><button class="num-btn">3</button></div>

          <div class="col-xs-4"><button class="num-btn">4</button></div>
          <div class="col-xs-4"><button class="num-btn">5</button></div>
          <div class="col-xs-4"><button class="num-btn">6</button></div>

          <div class="col-xs-4"><button class="num-btn">7</button></div>
          <div class="col-xs-4"><button class="num-btn">8</button></div>
          <div class="col-xs-4"><button class="num-btn">9</button></div>

          <div class="col-xs-4"></div>
          <div class="col-xs-4"><button class="num-btn">0</button></div>
          <div class="col-xs-4"><button class="clear">C</button></div>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="restartbtn">RESTART</div>
