<div id="pincode" class="col-xs-12" style="margin-top: -1020px;">
  <div class="table">
    <div class="cell">
      <div id="fields">
        <div class="grid">
          <div class="col-xs-2 col-xs-offset-2 numberfield"><span></span></div>
          <div class="col-xs-2 numberfield"><span></span></div>
          <div class="col-xs-2 numberfield"><span></span></div>
          <div class="col-xs-2 numberfield"><span></span></div>
        </div>
      </div>

      <div id="numbers">
        <div class="grid">
          <div class="col-xs-4"><button class="num-btn">1<br/><small class="text-muted">ㄱㅋ</small></button></div>
          <div class="col-xs-4"><button class="num-btn">2<br/><small class="text-muted">ㄴ</small></button></div>
          <div class="col-xs-4"><button class="num-btn">3<br/><small class="text-muted">ㄷ</small></button></div>

          <div class="col-xs-4"><button class="num-btn">4<br/><small class="text-muted">ㄹㅁ</small></button></div>
          <div class="col-xs-4"><button class="num-btn">5<br/><small class="text-muted">ㅂㅅ</small></button></div>
          <div class="col-xs-4"><button class="num-btn">6<br/><small class="text-muted">ㅇ</small></button></div>

          <div class="col-xs-4"><button class="num-btn">7<br/><small class="text-muted">ㅈㅊ</small></button></div>
          <div class="col-xs-4"><button class="num-btn">8<br/><small class="text-muted">ㅌ</small></button></div>
          <div class="col-xs-4"><button class="num-btn">9<br/><small class="text-muted">ㅍ</small></button></div>

          <div class="col-xs-4"></div>
          <div class="col-xs-4"><button class="num-btn">0<br/><small class="text-muted">ㅎ</small></button></div>
          <div class="col-xs-4"><button class="clear">C</button></div>

        </div>
      </div>
    </div>
  </div>
</div>
