
#hint-img {
  top: 40px;
  position: fixed;
  left: 40px;
  z-index: 999;
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
}
#help-img {
  top: 40px;
  position: fixed;
  right: 40px;
  z-index: 999;
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
}
