.short {
  margin-top: 640px;
}
.short form {
  z-index: 10;
  position: relative;
  display: inline-block;
  max-width: 80%;
  min-width: 80%;
  box-sizing: border-box;
  padding: 30px 25px;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.short form h1 {
  color: #38e798;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.short form button {
  margin-top: 35px;
  background-color: #33444e;
  border: 1px solid #38e798;
  line-height: 0;
  font-size: 50px;
  display: inline-block;
  box-sizing: border-box;
  padding: 50px 45px;
  border-radius: 10px;
  color: #38e798;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
.short form button:hover, form button:focus {
  color: white;
  background-color: #38e798;
}
.short form .question {
  position: relative;
  padding: 10px 0;
}
.short form .question:first-of-type {
  padding-top: 0;
}
.short form .question:last-of-type {
  padding-bottom: 0;
}
.short form .question label {
  transform-origin: left center;
  color: #38e798;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 19px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -44px;
  z-index: 2;
  pointer-events: none;
}
.short form .question input[type="text"] {
  appearance: none;
  background-color: #33444e;
  border: 1px solid #38e798;
  line-height: 0;
  font-size: 50px;
  width: 23%;
  box-sizing: border-box;
  padding: 10px 15px;
  margin-left: 8px;
  border-radius: 32px;
  color: #38e798;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
.short form .question input[type="text"]:focus {
  outline: none;
  background: #38e798;
  color: white;
}



.long {
  margin-top: 640px;
}
.long form {
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  padding: 30px 25px;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.long form h1 {
  color: #38e798;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.long form button {
  margin-top: 35px;
  background-color: #33444e;
  border: 1px solid #38e798;
  line-height: 0;
  font-size: 50px;
  display: inline-block;
  box-sizing: border-box;
  padding: 50px 45px;
  border-radius: 10px;
  color: #38e798;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
.long form button:hover, form button:focus {
  color: white;
  background-color: #38e798;
}
.long form .question {
  position: relative;
  padding: 10px 0;
}
.long form .question:first-of-type {
  padding-top: 0;
}
.long form .question:last-of-type {
  padding-bottom: 0;
}
.long form .question label {
  transform-origin: left center;
  color: #38e798;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 19px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -44px;
  z-index: 2;
  pointer-events: none;
}
.long form .question input[type="text"] {
  appearance: none;
  background-color: #33444e;
  border: 1px solid #38e798;
  line-height: 0;
  font-size: 50px;
  width: 45%;
  box-sizing: border-box;
  padding: 10px 15px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 32px;
  color: #38e798;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
.long form .question input[type="text"]:focus {
  outline: none;
  background: #38e798;
  color: white;
}



.very_long {
  margin-top: 640px;
}
.very_long form {
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  padding: 30px 25px;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.very_long form h1 {
  color: #38e798;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.very_long form button {
  margin-top: 35px;
  background-color: #33444e;
  border: 1px solid #38e798;
  line-height: 0;
  font-size: 50px;
  display: inline-block;
  box-sizing: border-box;
  padding: 50px 45px;
  border-radius: 10px;
  color: #38e798;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
.very_long form button:hover, .very_long form button:focus {
  color: white;
  background-color: #38e798;
}
.very_long form .question {
  position: relative;
  padding: 10px 0;
}
.very_long form .question:first-of-type {
  padding-top: 0;
}
.very_long form .question:last-of-type {
  padding-bottom: 0;
}
.very_long form .question label {
  transform-origin: left center;
  color: #38e798;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 19px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -44px;
  z-index: 2;
  pointer-events: none;
}
.very_long form .question input[type="text"] {
  appearance: none;
  background-color: #33444e;
  border: 1px solid #38e798;
  line-height: 0;
  font-size: 50px;
  width: 80%;
  box-sizing: border-box;
  padding: 10px 15px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 32px;
  color: #38e798;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
.very_long form .question input[type="text"]:focus {
  outline: none;
  background: #38e798;
  color: white;
}
