// Place all the styles related to the Stage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import 'sweetalert';
@import 'lock_dial';
@import 'phone_dial';
@import 'short_question';
@import 'button_dial';
@import 'custom';
@import 'countdown3';
