<div class="short" style="margin-top: -900px;">
  <%= form_tag '/answer', id: 'form', class: "text-center", remote: true, :onsubmit => "checkanswer2()" do %>
    <div class="question">
      <input type="text" size="10" required style="width: inherit;"/>
    </div>
    <%= hidden_field_tag 'answer' %>
    <%= submit_tag '정답 확인', id: "getBtn" %>
  <% end %>
</div>
